
.icon-down-arrow:before { content: '\e800'; } /* '' */
.icon-pass-eye:before { content: '\e801'; } /* '' */
.icon-password:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */